*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

/*ingresar telefono o correo*/

.titulos{
    text-align: center;
    padding: 20px;
}

#ingresarcorreo{
    width: 500px;
    background-color: ;
    padding: 20px;
    margin: auto;
    border: solid black;
    border-radius: 15px;
}

input {
    padding: 10px;
    border-radius: 15px;
    border: solid black;
    margin-right: 20px;
    width: 300px;
  }
input:focus {
    outline: none;
  }
   /*boton*/
  #boton{
  width: 100px;
  height: 35px;
  border-radius: 17px;
  border: solid black;
  }

  .salir{
    text-decoration: none;
    color: black;
    font-size: 22px;
    margin-top: 15px;
    margin-left: 20px;
  }


/*ingresar codigo*/

  #ingresarcodigo{
    width: 500px;
    background-color:;
    padding: 20px;
    margin: auto;
    border: solid black;
    border-radius: 15px;
    margin-top: 70px;
}

#cancelar{
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-top: 15px;
  margin-left: 20px;
}

#nocodigo{
  text-decoration: none;
  color: black;
  font-size: 22px;
  margin-top: 15px;
  margin-left: 20px;
}

/*cambiar contraseña*/
#cambiarcontraseña{
  width: 500px;
  padding: 20px;
  margin: auto;
  border: solid black;
  border-radius: 20px;
  margin-top: 70px;
}

#cambiocontraseña{
  width: 150px;
  height: 35px;
  border-radius: 17px;
  border: solid black;
  margin-top: 30px
}

.titulos3{
  text-align: center;
  padding: 10px;
}

#escontraseña{
  text-align: left;
  margin-top: 5px;
  margin-bottom: 20px;
}
 /*boton*/
#iniciarsesion{
  width: 150px;
  height: 35px;
  border-radius: 17px;
  border: solid black;
  margin-top: 30px
    
}
